﻿@using BudgetVisualization.Data

    <div style="padding: 10px;">
        <img src="@itemData.imageURL" class="carousell-image">
        <div class="proposedItem-text">
            <div>
                @itemData.ItemName
                <br>
                <b style="color: #3b4046;font-size: small;">
                    $@itemData.BudgetValue.ToString("N0") @itemData.budgetValueTypeName
                </b>
            </div>
            @if (itemData.percentChange != 0)
        {
            <div class="" style="color: gray;">
                @*@itemData.percentChange% from last year*@
            </div>
        }
        else
        {
            <div class="" style="color: gray;">

            </div>
        }
        </div>
    </div>


<style>


    .item {
        position: relative;
        width: 200px;
        height: 150px;
    }

    .item-content {
        text-align: center;
    }

    .item-percent {
        text-align: center;
        position: absolute;
        bottom: 0px;
        right: 35px;
        font-size: 15px;
    }

    .item-illustration {
        display: block;
        margin-left: 25px;
        margin-right: auto;
        width: 50%;
    }

    .item-box {
        margin: auto;
        width: fit-content;
        padding: 0.5rem;
    }
</style>


@code {

    [Parameter]
    public ProposedItem itemData { get; set; }

    string color;

    string defaultColor = "#accce7";
    string activeColor = "#86abca";

}
